---
apiVersion: v1
kind: Service
metadata:
  name: argocd-server
  namespace: {{ argocd_namespace }}
  annotations:
    metallb.universe.tf/address-pool: default
spec:
  type: LoadBalancer
  loadBalancerIP: {{ argocd_lb_ip }}
  selector:
    app.kubernetes.io/name: argocd-server
  ports:
    - name: http
      port: 80
      targetPort: 8080
      protocol: TCP
    - name: https
      port: 443
      targetPort: 443
      protocol: TCP
